body {
  color: white;
  background-color: black;
}

.app {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  .cities {
    width: 30%;
    margin-left: 119px;
    width: 30%;
    padding: 5px 30px;
    margin-bottom: 11px;
  }
    img {
      width:99%;
      height: 81%;
    }
  .active-city {
    width: 100%;
    right: 127px;
    margin-bottom: 20px;
    padding: 10px 15px;
    border: 2px solid #ddd;
    border-radius: 4px;
    h3 {
      margin-top: 0;
    }
  }
}

.list-group-item {
  background-color: transparent;
  cursor: pointer;
}

.selected_city {
  border: solid red 2px;
}
